<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/script.js"></script>
  <script defer src="/js/enter.js"></script>

  <link rel="stylesheet" href="/css/style.css">

  <title>{{title}}</title>
</head>
<body>
  <main >
    {{{body}}}
  </main>
  <footer>
    <div>MaryPro production &copy;</div>
    <div>2020 year</div>
  </footer>

</body>
</html>
